.press-release-date-box {
    text-align: center;
    padding-top: 10px;
}

.press-release-date {
}

.press-release-browser-box {
}

.press-release-browser-link {
    min-height: 50px;
    background-image: url("../images/icons/browser.png");
    background-repeat: no-repeat;
    background-size: 3em;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
}

.press-release-pdf-box {
}

.press-release-pdf-link {
    min-height: 50px;
    background-image: url("../images/icons/pdf.jpg");
    background-repeat: no-repeat;
    background-size: 3em;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
}